.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: rgba(150, 150, 150, 0.2);
}
.bd-example {
  position: relative;
  border: solid #ececec;
  padding: 1.5rem;
  margin-right: 0;
  margin-left: 0;
  border-width: 0.2rem;
  border-radius: 0.7em;
}
.center-list {
  display: flex;
  justify-content: center;
}
.float-top-right {
  position: absolute;
  top: 0.6em;
  right: 0.7em;
}
.fa-times {
  font-size: 1.2em !important;
  opacity: 0.3;
}
.fa-times:hover {
  opacity: 1;
}
